# Data Types in Python

### Basic/Primary Data Types
1. Numbers (Int, Float)
2. Booleans 
3. Strings

### Containers/Secondary Data Types 
1. Lists = [1,2,3] 
2. Tuples = (1,2,3) 
3. Dictionaries = {1:'Apple',2:'Google',3:'IBM'}
4. Sets = ('Apple','Google','IBM',)

### In higher level packages
6. **DataFrame** from Pandas
2. **Array** from numpy

## 1. Lists

In [19]:
## Empty list
my_list = []
print(my_list)

## Pre-initialized list
height = [1,2,3]
print(height)

[]
[1, 2, 3]

-  ### Functions to modify/delete data in list

# Differences in R and Python

## Size of Container

In [20]:
### R uses length()
### Python uses len()

l1 = [10, 20, 30, 40, 50]
print('Length of list1 =',len(l1))
d1 = {1:'Apple',2:'Google',3:'IBM'}
print('Lenth of dictionary =',len(d1))

Length of list1 = 5
Lenth of dictionary = 3

## How to know Data Type?

In [22]:
## R uses class()
## Python uses type()

x = 'INSOFE'
y = '2017'
z = 2017 
print(type(x),type(y),type(z))

<class 'str'> <class 'str'> <class 'int'>

In [24]:
a = [10, 20, 30, 40, 50]
a[4]

50

### R indexing starts from 1
### Python indexing starts from 0

In [26]:
a = [1,2,3]
b = a
b[1] = 99
print(a)

[1, 99, 3]

## Mutable vs Immutable

**Mutable** objects allow partial edits.
List, Dictionary, Set

**Immutable** objects can be considered static/constant. You cannot make partial edits.
Numeric, Boolean, String, Tuple

In [27]:
## Mutable objects
my_list = [2,5,6,7]
print(my_list)

my_list[2] = 99
print(my_list)

[2, 5, 6, 7]
[2, 5, 99, 7]

In [28]:
## Immutable objects
my_tuple = (2,5,6,7)
print(my_tuple)

my_tuple[2] = 99
print(my_tuple)

(2, 5, 6, 7)

TypeError: 'tuple' object does not support item assignment

In [31]:
## Behaviour with Immutable objects
x = "Rohit"
print(x,id(x))
x = "Saigal"
print(x,id(x))
## Notice that the memory location gets changed if you modify atomic immutable data types

Rohit 1867053117200
Saigal 1867053117368

In [9]:
## Behavious

## In Python variable assignment is by reference

In [33]:
Apple = 20
Orange = Apple
print("Apple",Apple,id(Apple))
print("Orange",Orange,id(Orange))

## Notice that the memory location of both the variables is same

Apple 20 1463382080
Orange 20 1463382080

In [35]:
## Behaviour with Immutable objects
Banana = 20
Mango = Banana
print("Banana",Banana,id(Banana))
print("Mango",Mango,id(Mango),"\n")

Banana = Banana + 5
print("Banana",Banana,id(Banana))
print("Mango",Mango,id(Mango))

Banana 20 1463382080
Mango 20 1463382080

Banana 25 1463382240
Mango 20 1463382080

In [36]:
## Behaviour with mutable objects
Fruits = [20,30,40,50]
Veggies = Fruits
print("Fruits",Fruits,id(Fruits))
print("Veggies",Veggies,id(Veggies),"\n")

Fruits[3] = 99
print("Fruits",Fruits,id(Fruits))
print("Veggies",Veggies,id(Veggies))

Fruits [20, 30, 40, 50] 1867071008712
Veggies [20, 30, 40, 50] 1867071008712

Fruits [20, 30, 40, 99] 1867071008712
Veggies [20, 30, 40, 99] 1867071008712

## Essential operations in programming/data engineering
1. Generating Data
2. Accessing/Slicing Data
3. Modifying/Deleting Data
4. Iterating through the Data/Container

### Generating a sequence

In [37]:
## Creates sequence of 20 elements starting from 0
sequence1 = list(range(20))
print('sequence1 =',sequence1)

## Custom sequence from specific start and end points
sequence2 = list(range(50,60))
print('sequence2 =',sequence2)

## Custom sequence from specific start and end points with variable leap
sequence3 = list(range(100,150,10))
print('sequence3 =',sequence3)

sequence1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
sequence2 = [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
sequence3 = [100, 110, 120, 130, 140]

### Note - start argument in inclusive but end argument in exclusive

In [42]:
nums = list(range(5))     # range is a built-in function that creates a list of integers
print(nums)               # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])          # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])           # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:4])           # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])            # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"print(nums[:-1])

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [44]:
## Negative Slicing
nums = list(range(5))
print(nums[-1:])          # Last 2 elements "[3,4]"
print(nums[:-1])          # All elements from starting till second to last (Excluding last element) "[0, 1, 2, 3]"

[4]
[0, 1, 2, 3]

In [49]:
## Slicing with leaps
nums = list(range(10))
print(nums)

print(nums[2:8:3])        # Printing every 3rd element starting from 1st(inclusive) index till 8th(exclusive)
print(nums[:8:3])         # Printing every 3rd element from the beginning till 8th(exclusive)
print(nums[5::2])         # Printing every 2nd element from 5th(inclusive) index till the end

## Negative leap will results in reverse iterations
print(nums[::-1])         # Printing list in reverse order
print(nums[5::-1])        # Reverse order - i.e. 5th(inclusive) index till beginning
print(nums[7:2:-2])       # Printing every 2nd element in reverse order from 7th(inclusive) till 2nd(exclusive)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 5]
[0, 3, 6]
[5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[5, 4, 3, 2, 1, 0]
[7, 5, 3]

### Functions to modify/delete data

In [17]:
## List functions
l1 = list(range(10))
l1[1] = 99                  # Updating a value at particular index
print(l1)

l1[5:7] = [55,66,77]        # Multiple assignments are fine as long as length of LHS = RHS
print(l1)

l1.append(777)              # Appending only 1 item at the end of list
print(l1)

l1.extend([111,222,333])    # Adding a list to list
print(l1)

print(l1.index(777))        # Find the index of first occurence

l1.remove(777)              # Delete an object from list
print(l1)

l1.reverse()                # Reverse the list

## For more functions please refer python documentation or online sources

[0, 99, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 99, 2, 3, 4, 55, 66, 77, 7, 8, 9]
[0, 99, 2, 3, 4, 55, 66, 77, 7, 8, 9, 777]
[0, 99, 2, 3, 4, 55, 66, 77, 7, 8, 9, 777, 111, 222, 333]
11
[0, 99, 2, 3, 4, 55, 66, 77, 7, 8, 9, 111, 222, 333]

### Iterating in a Container

In [52]:
# Using for loop
animals = ['cat', 'dog', 'monkey']
for i in animals:
    print(i)

cat
dog
monkey

In [54]:
    # Iterating with index
    animals = ['cat', 'dog', 'monkey']
    for idx, animal in enumerate(animals):
        print('Index %d: %s' % (idx + 1, animal))

Index 1: cat
Index 2: dog
Index 3: monkey

### Why List Comprehension?

In [55]:
## List of squares using for Loop
nums = list(range(6))
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16, 25]

In [56]:
## List of squares using list comprehension
nums = list(range(6))
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16, 25]

In [57]:
## Versatile enough to accomodate conditions
nums = list(range(6))
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

## Dictionaries

* Keys and Values

In [62]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data

print(d['cat'])       # Get an entry from a dictionary; prints "cute"

print('cat' in d)     # Check if a dictionary has a given key; prints "True"

d['fish'] = 'wet'     # Add entry in a dictionary

print(d)

cute
True
{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [64]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for i in d:           # By default iterates through keys
    print(i)
    
for i in d.values():  # dictionary.values() will iterate through values
    print(i)

person
cat
spider
2
4
8

In [66]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for key, value in d.items():                # dictionary.items() will give you key value pairs
    print('A %s has %d legs' % (key, value))

for animal, legs in d.items():              # can be substituted with meaningful names
    print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs
A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [67]:
for i in range(0, 100, 5):
    if (i % 2) == 0:
        print("%d is even" %(i))
    elif (i % 2) != 0:
        print("%d is odd" %(i))

0 is even
5 is odd
10 is even
15 is odd
20 is even
25 is odd
30 is even
35 is odd
40 is even
45 is odd
50 is even
55 is odd
60 is even
65 is odd
70 is even
75 is odd
80 is even
85 is odd
90 is even
95 is odd

In [68]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [10]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [11]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [70]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [13]:
def areaSquare( side ): 
    area = side * side 
    return area

In [71]:
#side = 4
print(areaSquare(6))

36

In [15]:
class ComplexNumber:
    def __init__(self,r = 0,i = 0):
        self.real = r
        self.imag = i

    def getData(self):
        print("{0}+{1}j".format(self.real,self.imag))

In [17]:
# Create a new ComplexNumber object
c1 = ComplexNumber(2,3)

# Call getData() function
# Output: 2+3j
c1.getData()

# Create another ComplexNumber object
# and create a new attribute 'attr'
c2 = ComplexNumber(5)
c2.attr = 10

# Output: (5, 0, 10)
print((c2.real, c2.imag, c2.attr))

2+3j
(5, 0, 10)

## Pandas DataFrame

In [27]:
# import pandas
import pandas as pd

In [28]:
#read matches.csv from data folder
#print ts shape, columns and first 10 index (df.index) and needs to be inside list
# print head of df
df=pd.read_csv('./matches.csv')

print(df.shape)         # dim() in R - Dimentions of data
print(df.columns)       # colnames() in R - Column Namesprint(list(df.index)[:10])
print(df.index)         # rownames() in R - Row Indexes
print(df.dtypes)        # str() in R - Data types

(577, 18)
Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')
RangeIndex(start=0, stop=577, step=1)
id                   int64
season               int64
city                object
date                object
team1               object
team2               object
toss_winner         object
toss_decision       object
result              object
dl_applied           int64
winner              object
win_by_runs          int64
win_by_wickets       int64
player_of_match     object
venue               object
umpire1             object
umpire2             object
umpire3            float64
dtype: object

In [29]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

### Subsetting DataFrames

In [30]:
# Only Bangalore games
bangalore = df[df['city']=='Bangalore']

# Extracting columns
bangalore[['team1','team2','winner']].head()

,team1,team2,winner
0,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
10,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals
14,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings
24,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab
30,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians

In [31]:
# Use isin() function to match multiple values in same column 
# Get toss_winner from above subset

df[df['season'].isin([2008,2015])][['season','toss_winner']].head()

   season                  toss_winner
0    2008  Royal Challengers Bangalore
1    2008          Chennai Super Kings
2    2008             Rajasthan Royals
3    2008               Mumbai Indians
4    2008              Deccan Chargers

In [32]:
winner = df['winner'].value_counts()       # table() in R - Frequency count
print(winner.head())

Mumbai Indians                 80
Chennai Super Kings            79
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Rajasthan Royals               63
Name: winner, dtype: int64

In [33]:
nas = df['winner'].isnull().sum()          # is.na() in R - Returns list of boolean
                                           # sum() gives total of na values
print(nas)

3

### Changing index for faster access

In [34]:
df.set_index('date',inplace=True)      # Setting date column as index

## Indexing
1. loc     (Row/Column labels)
2. iloc    (Row/Column index)
3. ix      (Mixed mode - Depricated)

In [165]:
## loc
print(df.loc[['2008-04-18','2008-04-26'],'city'])

date
2008-04-18    Bangalore
2008-04-26    Bangalore
2008-04-26      Chennai
Name: city, dtype: object

In [166]:
df.loc['2008-04-18':'2008-04-21',['team1','team2']]

                            team1                        team2
date
2008-04-18  Kolkata Knight Riders  Royal Challengers Bangalore
2008-04-19    Chennai Super Kings              Kings XI Punjab
2008-04-19       Rajasthan Royals             Delhi Daredevils
2008-04-20         Mumbai Indians  Royal Challengers Bangalore
2008-04-20        Deccan Chargers        Kolkata Knight Riders
2008-04-21        Kings XI Punjab             Rajasthan Royals

In [167]:
## Only numeric indexing in iloc
df.iloc[1:3,2:7]

,city,team1,team2,toss_winner,toss_decision
date,,,,,
2008-04-19,Chandigarh,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat
2008-04-19,Delhi,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat

### Missing Values

In [16]:
#filla atribute on df city. inplace true. bfill method
#check with isnull sum
nas_list = df['city'].isnull()
print(df[nas_list].iloc[:,1:5])

NameError: name 'df' is not defined

## Imputation

In [36]:
#new_df = df.copy
#new_df['city'].fillna('bfill')
df['city'].fillna(method='bfill',inplace=True)
print(df[nas_list].iloc[:,1:5])

            season       city                        team1  \
date
2014-04-19    2014    Sharjah               Mumbai Indians
2014-04-19    2014    Sharjah        Kolkata Knight Riders
2014-04-23    2014    Sharjah          Chennai Super Kings
2014-04-25    2014  Abu Dhabi          Sunrisers Hyderabad
2014-04-25    2014  Abu Dhabi               Mumbai Indians
2014-04-28    2014  Abu Dhabi  Royal Challengers Bangalore
2014-04-30    2014     Ranchi          Sunrisers Hyderabad

                                  team2
date
2014-04-19  Royal Challengers Bangalore
2014-04-19             Delhi Daredevils
2014-04-23             Rajasthan Royals
2014-04-25             Delhi Daredevils
2014-04-25          Chennai Super Kings
2014-04-28              Kings XI Punjab
2014-04-30               Mumbai Indians

### Replace specific values

In [37]:
df[['team1','team2','winner']].replace('Kolkata Knight Riders','KKR').head()

,team1,team2,winner
date,,,
2008-04-18,KKR,Royal Challengers Bangalore,KKR
2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
2008-04-19,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils
2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
2008-04-20,Deccan Chargers,KKR,KKR

### Creating DataFrames

In [38]:
dict1 = {'metal':['steel','copper','wood'],'YM':[200,100,50],'Ductile':[True,True,False]}
df1=pd.DataFrame(dict1,index=['m1','m2','m3'])
df1

   Ductile   YM   metal
m1    True  200   steel
m2    True  100  copper
m3   False   50    wood

### DataFrame Transpose

In [189]:
df1.transpose()

            m1      m2     m3      m4
Ductile   True    True  False   False
YM         200     100     50     0.1
metal    steel  copper   wood  cement

### Adding row/column

In [181]:
df1.loc['m4',:] = ['False',0.1,'cement']
df1

   Ductile     YM   metal
m1    True  200.0   steel
m2    True  100.0  copper
m3   False   50.0    wood
m4   False    0.1  cement

### Dropping row/column

In [188]:
print(df1.drop('metal',axis=1))
print(df1.drop('m4',axis=0))

   Ductile     YM
m1    True  200.0
m2    True  100.0
m3   False   50.0
m4   False    0.1
   Ductile     YM   metal
m1    True  200.0   steel
m2    True  100.0  copper
m3   False   50.0    wood

### Appending DataFrame

In [39]:
dict2 =  {'metal':['aluminium','bronze'],'YM':[180.2,102.1],'Ductile':[True,False]}
df2 = pd.DataFrame(dict2,index=['m4','m5'])

print(df1.append(df2))

   Ductile     YM      metal
m1    True  200.0      steel
m2    True  100.0     copper
m3   False   50.0       wood
m4    True  180.2  aluminium
m5   False  102.1     bronze

### Merging dataframes

In [200]:
df3=pd.DataFrame({'metal':['steel','copper','wood'],'UTS (Mpa)':[400,300,40], 'YM':[20,10,5]},index=['me1','me2','me3'])
df3

     UTS (Mpa)  YM   metal
me1        400  20   steel
me2        300  10  copper
me3         40   5    wood

In [207]:
## concat df1 df2
print(pd.concat([df1,df3]))

## merge df1 df3 on metal outer right and left index true
pd.merge(df1,df3,on='metal',how='left')

    Ductile  UTS (Mpa)     YM   metal
m1     True        NaN  200.0   steel
m2     True        NaN  100.0  copper
m3    False        NaN   50.0    wood
m4    False        NaN    0.1  cement
me1     NaN      400.0   20.0   steel
me2     NaN      300.0   10.0  copper
me3     NaN       40.0    5.0    wood

  Ductile   YM_x   metal  UTS (Mpa)  YM_y
0    True  200.0   steel      400.0  20.0
1    True  100.0  copper      300.0  10.0
2   False   50.0    wood       40.0   5.0
3   False    0.1  cement        NaN   NaN